<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="heading-4  text-center font-weight-light my-3">Esempio di utilizzo dei Pipe in Angular</h1>
    </div>
    <!-- 1/4 -->
    <div class="col-6">
      <div class="card-group my-2">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Pipe: <span class="badge badge-primary text-wrap">TitleCase</span></h5>
            <p class="card-text">Inserisci nome e cognome:</p>
            <input type="text" class="form-control" (input)="onUppercaseInput($event.target.value)">
            <p class="card-text mt-3">Risultato con Pipe:</p>
            <p class="alert alert-success" role="alert" *ngIf="uppercase_value">{{uppercase_value | titlecase}}</p>
          </div>
        </div>
      </div>
    </div>
    <!-- 2/4 -->
    <div class="col-6">
      <div class="card-group my-2">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Pipe: <span class="badge badge-primary text-wrap">DatePipe</span></h5>
            <p class="card-text">Inserisci una data:</p>
            <input type="date" class="form-control" (input)="onDateInput($event.target.value)">
            <p class="card-text mt-3">Risultato con Pipe:</p>
            <p class="alert alert-success" role="alert" *ngIf="datepipe_value">{{datepipe_value | date:'d MMMM, y'}}
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- 3/4 -->
    <div class="col-6">
      <div class="card-group mt-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Pipe: <span class="badge badge-primary text-wrap">Currency</span></h5>
            <p class="card-text">Inserisci un valore in EURO:</p>
            <input type="text" class="form-control" (input)="onCurrencyInput($event.target.value)">
            <p class="card-text mt-3">Risultato con Pipe:</p>
            <p class="alert alert-success" role="alert" *ngIf="currency_value">{{currency_value | currency:'EUR'}}</p>
          </div>
        </div>
      </div>
    </div>
    <!-- 4/4 -->
    <div class="col-6">
      <div class="card-group mt-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Pipe: <span class="badge badge-primary text-wrap">Json</span></h5>
            <p class="card-text">Esempio di un Object mostrato come JSON:</p>
            <p class="card-text mt-3">Risultato con Pipe:</p>
            <p class="alert alert-success" role="alert">{{car | json}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>